* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* background: linear-gradient(28deg, #3F51B5, #c1c5d9, #0095ff, #0008ff); */

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(325deg, #3F51B5, #c1c5d9, #0095ff, #0008ff);
}

.container .calculator {
    width: 600px;
    max-width: 100%;
    margin: 200px 200px 0;
}

.container .calculator h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin: 11px 0 70px;
}

.container .calculator .input {
    padding: 35px;
    background-color: #f7f4f475;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.container .calculator .input .input-date {
    width: 350px;
    height: 50px;
    border-radius: 6px;
    border: none;
    padding: 12px;
    font-size: 18px;
    color: #000dff;
    outline: none;
    cursor: pointer;
    position: relative;
}

.container .calculator .input input[type="date"]::-webkit-calendar-picker-indicator {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}


.container .calculator .input button {
    color: white;
    cursor: pointer;
    padding: 14px 25px;
    margin-left: 20px;
    background-color: #0014ff;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 20px;
}

.container .calculator .result {
    margin: 60px 0;
    font-size: 28px;
    font-weight: bold;
    background-color: #59595930;
    padding: 18px 21px;
    border-radius: 9px;
}

.container .calculator .result p {
    color: white;
}

.container .calculator .result p span {
    color: #ffe204;
}